.CTApageTwo {z-index: 100;
    margin-top: 5%;
    position: absolute;
    display: flex;
    width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
}
.button {
    min-width: 100px;
    width: 30%;
    
    
}
